//COLORS
$dark-green: #007580;

//HEADER

header {
    height:5.2rem;
    border-bottom: 1px solid #EFEFEF;
    position: sticky;
    top:0;
    position:-webkit-sticky;
    z-index:2;
    background-color: white;
}

.top-bar {
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    width:128rem;
    padding: 0rem 2rem 0rem 2rem; 
}

.home-img {
    background-color: #EFEFEF;
    background-image: url(../img/home-img.jpg);
    background-size: cover;
    height: 45.5rem;
    width:100%;
    position: relative;

    .home-img-rip {
        position: absolute;
        // top:0;
        bottom: 0;
        right: 0;
        height: 80px;
        pointer-events: none;
    }

    .home-block-text {
        display: flex;
        align-items: center;
        height: 100%;
        max-width:128rem;
        margin: 0 auto;
        padding-left: 2rem;
    }
    
    .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:22rem;
        width:40rem;
        background-color: white;
        border-radius: 0.5rem;
        padding: 25px;
        font-size: 3.2rem;
        line-height: 4rem;
        box-shadow: 0 0 2px rgb(17 17 17 / 24%);
    }

    .home-button {
        height: 4.5rem;
        width: 18.7rem;
        background-color: #2baeb7;
        border-radius: 0.4rem;
        color: #fff;
        font-size: 1.6rem;
        border: none;
        padding: 0 1.4rem;
        margin-top: 3.2rem;
    }
}




.top-menu {


    .button-line {
        cursor: pointer;
        height:3rem;
        padding:0.4rem;
        border-radius: 0.5rem;
        width:11.5rem;
        border: 1px solid $dark-green;
        background-color: #fff;
        color:$dark-green;
        margin-right:2rem;
        transition: background-color 0.2s, transform 0.2s;
        transform: scale(1);
        &:hover {
          background-color: #F2F2F2;
          transform: scale(1.03);
}
   }   
    .button-solid {
        cursor: pointer;
        height:3rem;
        padding:0.4rem;
        border-radius: 0.5rem;
        width:11.5em;
        background-color: $dark-green;
        border:none;
        color:white;
        transition: background-color 0.2s, transform 0.2s;
        transform: scale(1);
        &:hover {
          transform: scale(1.03);
        }
    }

}

.search {
    display: flex;
    flex-direction: column;
    position:relative;

    input {
       width:59rem;
       color: #808080;
       background-color: #F2F2F2;
       border:none;
       padding:0.8rem;
       border-radius: 0.5rem;
       outline: none;
       padding-left:3rem;
    }

    ::placeholder {
        color: #BBBBBB;
    }

    .search-icon {
        position: absolute;
        left: 1rem;
        top: 0.9rem;
        color: #bbb;
    }


}


