//COLORS
$dark-green: #007580;

.offer-body {
    background-color:#ebedee;
   height:100vh;
}

.offer-container {
    max-width:128rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10rem 2rem 3rem 2rem;  

}

.offer-pictures img {
    height:70rem;
    object-fit: cover;
}


.offer-infos {
    background-color: white;
    width:32rem;
    padding:4rem;

    .offer-price {
       font-size: 2.4rem;
       margin-bottom:2rem;
    }

    .offer-list li {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    .offer-list-category {
        color:#999;
    }

    .offer-list-name {
        color:#666;
        text-align: right;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: rgba(17,17,17,.1);
        margin-top:2rem;
        // display: block;
    }
}

.offer-content {
    .name {
        font-weight: 700;
        font-size: 1.5rem;
       margin: 2rem 0rem 1rem 0rem;
    }

    .description {
        color:#666; 
        font-size: 1.5rem;
        margin-bottom:2rem;
    }

    .offer-avatar-username {
     display: flex;
     align-items: center;
     margin-bottom:4rem;
        img{
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;  
        }

        p {
            color:#666; 
            font-size: 1.3rem;
        }
    }
}

.button-offer-buy {
    cursor: pointer;
    padding:1.5rem;
    border-radius: 0.5rem;
    width:100%;
    background-color: $dark-green;
    border:none;
    font-size: 1.4rem;
    color:white;
    transition: background-color 0.2s, transform 0.2s;
    transform: scale(1);
    &:hover {
      transform: scale(1.03);
    }
}