@use "./assets/css/offer";

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

//HEADER

header {
    height:5.2rem;
    border-bottom: 1px solid #EFEFEF;
}

.top-bar {
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    max-width:128rem;
    padding: 0rem 2rem 0rem 2rem; 
}

.home-img {
    background-color: #EFEFEF;
    height: 45.5rem;
    width:100%;
}

.home-block-text {
    display: flex;
    align-items: center;
    height: 100%;
    max-width:128rem;
    margin: 0 auto;
    padding-left: 2rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:22rem;
    width:36rem;
    background-color: white;
    border-radius: 0.5rem;
}

//OFFERS CONTAINER

.offers-container {
    max-width:128rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.card-container {
    width:23.5rem;
    margin:0 auto;
    padding-top:3.5rem;
}

.card-profile {
    display: flex;
}

.card-avatar {
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-product-img {
    height:36rem;
    width:23.5rem;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    object-fit: cover;
}